
<nav class="navbar navbar-expand-lg  fixed-top navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="#">E-commerce</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/products">Products</a>
          </li>
        
            <% if (currentUser && currentUser.role === 'seller') { %>
              <li class="nav-item">
                <a class="nav-link" href="/products/new">New</a>
              </li>
            <% } %>
          
        </ul>
        <div class="navbar-nav ml-auto">
         
          <% if (!currentUser) { %>
            <a href="/login" class="nav-link">Login</a>
            <% } else { %>
              <a class="nav-link">Hello,<%= currentUser.username %>!</a>
              <a href="/user/cart" class="nav-link"> <i class='bx bxs-cart-alt' style='color:#090909; font-size: 30px;'></i>
                <span class="position-absolute top-10 start-90 translate-middle badge rounded-pill bg-danger">
                  <%= currentUser.cart.length %>
                  <span class="visually-hidden">unread messages</span>
                </span>
                </a>
                <a href="/logout" class="nav-link">Logout</a>
          <% } %>
          
         
    
          
        </div>
      </div>
    </div>
  </nav>