<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Zone</title>
    <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg  bg-transparent">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Shopping Zone</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class=" justify-content-center collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav nav-underline ">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/products">Products</a>
              </li>
              <% if (!currentUser) { %>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/signup">Register</a>
                  </li>
                  <% } else { %>
                    <li class="nav-item">
                        <a href="/logout" class="nav-link">Logout</a>
                      </li>
                    
              <% } %>

              
            </ul>
          </div>
        </div>
      </nav>
<div class="d-flex justify-content-center" style="margin-top:25vh">
    <main >
    <h2 style="text-align: center; color: white; font-size: 45px; font-weight: 700;">Shopping Zone</h2>
    <p style="text-align: center; color: white; font-size: 20px; font-weight: 600;">Welcome to Shopping Zone! <br>
    Jump right in and explore our products. <br>
Feel free to add some of your own and comments on others!</p>
</main>
</div>
      






      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>